@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

body {
    background: url(../arquivos/pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#iphone {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url(../arquivos/pacote-d013/imagens/frame-iphone.png) no-repeat;
}