@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

body {
    background: url(../arquivos/pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#iphone {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url(../arquivos/pacote-d013/imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 81px;
    left: 22px;
    width: 268px;
    height: 471px;
}

section#social {
    text-align: center;
}

section#social img {
    width: 60px;
    margin: 15px;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
    box-sizing: border-box;
}

section#social img:hover {
    border: 4px solid rgba(255, 255, 255, 0.849);
    transform: translate(0px, 10px);
    box-shadow: 5px 5px 10px black;
    transition: transform .5s, border .2s;
}